/*
  Outer div - RED, 1p black border, 100px width, height: 100px
  Middle div - YELLOW, no border, inset by 10px
  Inner div - BLUE, no border, inset by 10px
*/

div{
	background-color: RED;
  border: 1px;
  height: 100px;
  width: 100px;
}
  
div > div{
	background-color: YELLOW;
  border: none;
  width: 80px;
  height: 80px;
	margin: 10px;
  display: inline-block;
}

div > div > div {
  background-color: BLUE;
  width: 60px;
  height: 60px;
}

/*
    Debugging Time: 15 minutes
    Mistakes:
      - didn't take advantage of style cascade from
        div > div to div > div > div
      - used 'color' instead of 'background-color'. color will
        change the content of the div where background-color
        fills the div itself with that color.
      - was thinking nested elements would sit at the bottom
        left of the parent because divs are block level and 
        "start on a new line" I was thinking about starting on
        a new line like writing text instead of (0,0) at the top left.
        brain fart.
      - don't need to specify margin-left or bottom. just
        use margin and set child display to inline-block.
        Third nested div will inherit and be centered in its
        parent as well.
      - might have said box model was content, padding,
        margin, border instead of ... border, margin. idr.
*/